:root{

    --primary:#2563EB;
    --secondary:#F97316;
    --success:#22C55E;
    --danger:#EF4444;

    --bg:#F8FAFC;
    --text:#0F172A;

}

body{

    font-family:'Kantumruy Pro',sans-serif;

    background:var(--bg);

    color:var(--text);

}

a{

    text-decoration:none;

}

.card{

    border:none;

    border-radius:18px;

    box-shadow:0 8px 30px rgba(0,0,0,.05);

}